.heimu,
.heimu a,
a .heimu {
  background-color: #252525;
  color: #252525;
  text-shadow: none;
}

.heimu:hover,
.heimu:active {
  transition: color 0.13s linear;
  color: #fff;
}

.heimu:hover a {
  transition: color 0.13s linear;
  color: #add8e6;
}
