name: Harbinger PR

on:
  pull_request:
    branches: bleeding

jobs:
  build:
    name: Generate Preview Pages
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 10.x
      - name: Setup Gitbook
        run: |
          npm install -g gitbook-cli
          npm install gitbook
      - name: Generate Pages
        run: "gitbook install && gitbook build"
      - name: Deploy gh-pages
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          cd ..
          mkdir gh-pages
          cd gh-pages
          git init
          git remote add origin https://github.com/TeamCovertDragon/Harbinger.git
          git pull origin gh-pages
          git checkout gh-pages
          mkdir $GITHUB_SHA
          cp $GITHUB_WORKSPACE/_book/* $GITHUB_SHA -vr
          git add .
          git commit -m "Deploy preview for $GITHUB_SHA"
          git push origin gh-pages
